/* global tokens */

/* colors */
$text-yellow: #ffcb00;      /* rgb(255, 203, 0) */
$text-black: #1b1918;       /* rgb(27, 25, 24) */
$text-white: #ffffff;       /* rgb(255, 255, 255) */
$text-gray: #f0efef;        /* rgb(240, 239, 239) */

/* font-size */
$fontSize-13: 13px;
$fontSize-15: 15px;
$fontSize-18: 18px;
$fontSize-20: 20px;
$fontSize-22: 22px;
$fontSize-24: 24px;
$fontSize-30: 30px;
$fontSize-40: 40px;
$fontSize-48: 48px;
$fontSize-50: 50px;



/* font-weight */
$fontWeight-400: 400;
$fontWeight-500: 500;
$fontWeight-700: 700;


/* line-height */
$lineHeight-18: 18px;
$lineHeight-21: 21px;
$lineHeight-24: 24px;
$lineHeight-26: 26px;
$lineHeight-34: 34px;
$lineHeight-42: 42px;
$lineHeight-45: 45px;
$lineHeight-56: 56px;
$lineHeight-70: 70px;


/* font-family */
$fontFamily-Roboto: 'Roboto';


/* border-radius */
$borderRadius-50: 50%;


/* border */
$border: 1px solid;

/* box-shadow*/
$boxShadow: 0px 0px 30px rgba(255, 203, 0, 0.52);
$boxShadow-card: 0px 0px 23px rgba(0, 0, 0, 0.1);


/* linear-gradient */
$linearGradient: linear-gradient(100.01deg, #FFCB00 41.72%, #D9A900 104.17%);